@charset "utf-8";

/*
BASE
*/
body {
    font-family: meiryo;
    font-size: 14px;
    color: #333333;
}

h1 , h2 , ol , dl , dt , dd{
    margin: 0;
    padding: 0;
}

li {
    list-style-position: outside;
}

.container {
    padding-inline: 40px;
}

.headline {
    font-size: 1.14285714rem;
    margin-bottom: 10px;
}

.underline::after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    margin-top: 20px;
    background-color: #DEDEDE;
}

/*
//BASE
*/


/*
header
*/
.header {
    padding: 60px 10px 15px 10px;
    background-color: #F4F9FF;
}

.header__logo {
    max-width: 160px;
}

.header__logo img {
    width: 100%;
}
/*
//header
*/

/*
hero
*/
.hero {
    padding: 0 10px 60px 10px;
    background-color: #F4F9FF;
}

.hero__wrapper {
    width: 100%;
}

.hero__wrapper img {
    width: 100%;
}
/*
//hero
*/


/*
index
*/
.index {
    padding-block: 30px;
}

.index__contents {
}

.index__item {
    margin-left: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

.index__item:nth-child(5) {
    margin-bottom: 30px;
}

/*
//index
*/

/*
detail
*/
.detail {
    background-color: #F4F9FF;
    padding-top: 60px;
}

.detail__img {
    width: 100%;
}

.detail__img img {
    width: 100%;
    height: auto;
}

.headline--secondaly {
    margin-bottom: 20px;
}

.detail__text {
    display: flex;
    flex-wrap: wrap;
}

.detail__title {
    width: 22%;
    line-height: 1.5;
}

.detail__description {
    width: 78%;
    line-height: 1.5;
}

.onlinestore {
    margin-top: 20px;
    padding-bottom: 115px;
}

.onlinestore > a {
    color: #333333;
}
/*
//detail
*/

/*
footer
*/
.footer {
    background-color: #F4F9FF;
    padding-bottom: 15px;
}


/*
//footer
*/