@charset "utf-8";

/*
BASE
*/
h1 {
    margin: 0;

}


/*
//BASE
*/


/*
header
*/
.header {
    padding: 60px 10px 15px 10px;
    background-color: #F4F9FF;
}

.header__logo {
    max-width: 160px;
}

.header__logo img {
    width: 100%;
}
/*
//header
*/

/*
hero
*/
.hero {
    padding: 0 10px 60px 10px;
    background-color: #F4F9FF;
}

.hero__wrapper {
    width: 100%;
}

.hero__wrapper img {
    width: 100%;
}

/*
//hero
*/