@charset "utf-8";

/*
BASE
*/
body {
    font-family: meiryo;
    font-size: 14px;
    color: #333333;
}

h1 , h2 , ol {
    margin: 0;
    padding: 0;
}

li {
    list-style-position: outside;
}

.container {
    padding-inline: 40px;
}

.headline {
    font-size: 1.14285714rem;
    margin-bottom: 10pxg;
}

/*
//BASE
*/


/*
header
*/
.header {
    padding: 60px 10px 15px 10px;
    background-color: #F4F9FF;
}

.header__logo {
    max-width: 160px;
}

.header__logo img {
    width: 100%;
}
/*
//header
*/

/*
hero
*/
.hero {
    padding: 0 10px 60px 10px;
    background-color: #F4F9FF;
}

.hero__wrapper {
    width: 100%;
}

.hero__wrapper img {
    width: 100%;
}
/*
//hero
*/


/*
index
*/
.index {
    padding-block: 30px;
}

.index__contents {
}

.index__item {
    margin-left: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

.index__item:nth-child(5) {
    margin-bottom: 30px;
}

/*
//index
*/